.animation-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    text-align: center;
    animation-name: heading;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes heading{
    100% {transform:scale(2.5,2.5)}
}
.animation-outer-circle{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    margin-top: 20vh;
    margin: auto;
    border-radius: 50%;
    animation-name: circle-animation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes circle-animation{
    100% {transform: rotate(360deg);}
}
.animation-outer-circle:hover{
    animation-play-state: paused;
}
.animation-inner-circle{
    width: 30px;
    height: 30px;
    background-color:red;
    margin: auto;
    border-radius: 50%;
}
/****Animation inner circle ****/
.animation-jumping-circle{
    width: 100px;
    height: 100px;
    font-weight: bold;
    text-align-last: center;
    background-color:red;
    border-radius: 50%;
    animation-name: jumping-circle;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes jumping-circle{
    15% {transform: translate(250px,250px)}
    30% {transform: translate(350px,0px)}
    45% {transform: translate(450px,250px)}
    80% {transform: translate(550px,0px)}
    100% {transform: translate(650px,0px)}
}
.animation-jumping-circle2{
    width: 100px;
    height: 100px;
    font-weight: bold;
    text-align-last: center;
    background-color:aquamarine;
    border-radius: 50%;
    animation-name: jumping-circle2;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes jumping-circle2{
    15% {transform: translate(250px,250px)}
    30% {transform: translate(350px,0px)}
    45% {transform: translate(450px,250px)}
    80% {transform: translate(550px,0px)}
    100% {transform: translate(650px,0px)}
}