.div1{
    width: 100px;
    height: 100px;
    background-color: red;
    border:2px solid blue;
    margin: 50px;
    transition: transform 2s;
    
}
.div1:hover{
    transform: translateX(45px);
}
.div2{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid brown;
    margin: 50px;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}
.div2:hover{
    transform: translateY(45px);
}

.div3{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid crimson;
    margin: 50px;
    transition:transform 2s;
    
}
.div3:hover{
    transform: translate(45px,45px);
}